.testPage__btnFinish,
.testPage__btnFinish__disactive {
  width: 130px;
  height: 48px;
  justify-content: center;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  display: flex;
  align-items: center;
  align-content: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
.testPage__btnFinish {
  background-color: #ff6b09;
  color: #fff;
  position: relative;
}
.testPage__btnFinish::after {
  position: absolute;
  top: 100px;
  content: '';
  background-color: #ff6b09;
  width: 90px;
  height: 4px;
}
.testPage__btnFinish:hover {
  background-color: #3aff09;
}
.testPage__btnFinish__disactive {
  background-color: #fff;
  color: rgb(190, 189, 189);
}

@media (min-width: 768px) {
  .testPage__btnFinish,
  .testPage__btnFinish__disactive {
    width: 190px;
    font-size: 14px;
    line-height: 18px;
  }
}
