.testPage__btnPrevNext {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.testPage__btnPrevNextText {
  display: none;
}

.testPage__btnPrev,
.testPage__btnNext {
  border: none;
  font-family: 'MontserratMedium';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.02em;
  width: 56px;
  height: 34px;
  background-color: #fff;
  color: #000;
}

.testPage__btnPrev,
.testPage__btnNext:hover {
  background-color: #ff6b09;
  color: #fff;
  transition: 0.2s;
}

/* .arrowLeft,
.arrowRight {
  width: 24px;
  height: 16px;
} */

.arrowLeft {
  transform: rotate(180deg);
  fill: #fff;
}

.disactive {
  background-color: #fff;
  border: none;
  width: 56px;
  height: 34px;
  color: #000;
  fill: #000;
}

@media (min-width: 768px) {
  .testPage__btnPrevNextText {
    display: inline-block;
    font-size: 12px;
    line-height: 16px;
    font-family: 'MontserratMedium';
    font-style: normal;
    font-weight: 500;
  }

  .testPage__btnPrev,
  .testPage__btnNext {
    width: 210px;
    height: 34px;
    justify-content: space-around;
  }

  .testPage__btnNext:hover .arrowRight {
    fill: #fff;
    transition: 0.2s;
  }

  .testPage__btnPrev:hover .arrowLeft {
    fill: #000;
    transition: 0.2s;
  }

  .disactive {
    width: 210px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
