body {
  background: #e5e5e5;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.innerWrapper {
  /* align-items: center; */
  flex-direction: column;
}

.header {
  font-family: 'Montserrat', sans-serif;
  align-self: start;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #000000;
  margin: 38px 0 10px 20px;
}

.para {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #000000;
  margin: 0 20px;
}

.para span {
  font-weight: 800;
}

@media (min-width: 768px) and (max-width: 1280px) {
  .wrapper {
    width: 768px;
    align-items: center;
  }

  .header {
    margin: 80px 0 20px 115px;
  }
  .para {
    width: 536px;
    font-size: 16px;
    line-height: 36px;
  }
}

@media (min-width: 1280px) {
  .wrapper {
    width: 1030px;
    flex-wrap: nowrap;
    flex-direction: row;
    margin: 0 auto;
    align-items: start;
  }

  .innerWrapper {
    width: 536px;
    margin-top: 170px;
  }

  .header {
    margin: 0;
    font-weight: 800;
    font-size: 34px;
    line-height: 41px;
    letter-spacing: 0.02em;
  }

  .para {
    width: 420px;
    margin: 10px 000;
    font-weight: bold;
    font-size: 18px;
    line-height: 36px;
  }
}
