.item {
  margin-bottom: 20px;
  width: 100%;
  height: auto;
  position: relative;
  font-family: 'MontserratMedium';
  font-weight: 500;
  line-height: 12px;
  font-size: 10px;
}

.item:last-child {
  margin: 0px;
}
.item::after {
  position: absolute;
  content: '';
  display: block;
  left: -30px;
  top: -2px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: white;
  border: solid 1px rgb(0, 0, 0);
}

@media (min-width: 768px) {
  .item {
    padding-left: 30px;
    line-height: 20px;
    font-size: 16px;
  }

  .item::after {
    left: -10px;
  }
}
